*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

#global{
    width: 70%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 25px;
    background: whitesmoke;
    box-shadow: 0px 0px 23px rgb(99, 123, 52);
}

#logo{
    font-family: "Verdana", "Arial";
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 80px ;
    /* background: #235E3D; */
    color: whitesmoke;
    text-align: center;
    height: 80px;
    margin-bottom: 20px;
}

#menu{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;
    list-style: none;
}

#menu ul li{
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}

/* #menu ul li:hover{
    background: #235E3D;
} */

#menu a{
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding-left: 30px ;
    padding-right: 30px ;
}

#posts{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.post{
    padding: 20px;
}

.post h2{
    font-size: 30px;
    color: #333;
}

.post .date{
    display: block;
    color: darkgray;
    margin-top: 5px;
}

.post p{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 20px;
    text-align: justify;
}

.button-more{
    font-size: 13px;
    text-align: center;
    display: block;
    padding: 15px;
    /* background: #235E3D; */
    color: whitesmoke;
    text-decoration: none;
    margin-top: 10px;
    width: 70px;
    margin-bottom: 20px;
}

#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    float: right;
}

#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 10px;
    color: #333;
}

#sidebar img{
    width: 100%;
    margin-bottom: 15px;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid grey;
    width: 95%;
    margin-bottom: 5px;
    box-shadow: 0px 0px 2px grey;
    margin-top: 5px;
}

form input[type="submit"]{
    background: greenyellow ;
    padding: 10px;
    border: 1px solid #333;
    margin-top: 10px;
    float: right;
    color: #333;
    cursor: pointer;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    height: 77px;
    background: rgba(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 70%;
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 20px;
    line-height: 47px;
}

/* slider styles edit */
.bx-wrapper, .bx-viewport{
    height: 450px !important;
}

/* change main theme */
#selector-theme{
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 51, 0.5);
    width: 50px;
    height: 100px;
}

#to-green,
#to-red,
#to-blue{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0px auto ;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#to-green{
    background: #235E3D;
}

#to-red{
    background: #CA3413;
}

#to-blue{
    background: #1F87CA;
}

.up{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    float: right;
}

/* acordeon box */
#box{
    width: 60%;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

h2{
    font-size: 30px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

#acordeon{
    margin-top: 15px;
}